.text {
  content: "Welcome To 🆂🆃🆄🅳🅴🅽🆃 🆉🅾🅽🅴 (Under Construction) | Thanks For Using The Unofficial NVUSD Landing Page || Wear The Mask, Stop The Spread || News: Social Distancing Is Still In Place | Check Your Email For Any Announcements From The District | Hope You Had A Great Thanksgiving ||";
  background-color: black;
	color: white;
	z-index: 50;
	postion: fixed;
}
